<div class="h-100 d-flex">
  <div id="menu" class="flex-grow-0 d-flex flex-column justify-content-center" style="width:80px; background-color: #00a2e8; padding:8px; writing-mode: vertical-rl; text-orientation: mixed;">
    <h3>Main menu of application</h3>
  </div>
  <div class="flex-fill flex-shrink-0 d-flex flex-column">
    <div id="header" class="flex-grow-0 d-flex" style="height:80px; background-color: #ffc90e">
      <div class="flex-fill d-flex align-items-center" style="padding:8px">
        <h3>Related to route part of header</h3>
        <router-outlet name="header"></router-outlet>
      </div>
      <div class="flex-fill d-flex align-items-center" style="padding:8px">
          <h3>Always visible part of header</h3>
      </div>
      <div id="conversation-menu" *ngIf="settings.isConversation" class="flex-grow-0 d-flex align-items-center" style="width:33.33%; background-color: #efe4b0; padding:8px;">
          <h3>Conversation menu</h3>
      </div>
    </div>
    <div id="main" class="flex-fill d-flex">
      <div class="flex-fill" style="position:relative; background-color: #b5e61d; padding:8px;">
        <h3>Actual route content</h3>
        <router-outlet></router-outlet>
        <div id="conversation-details" *ngIf="settings.isConversation" [class.d-none]="settings.detailsHidden " style="z-index:999; position:absolute; top:0; left:0; width:100%; height:100%; background-color: #a349a4; padding:8px;">
        <h3>Conversation details</h3>
        </div>
      </div>
      <div id="conversation-core" *ngIf="settings.isConversation" class="flex-grow-0 d-flex flex-column" style="width:33.33%; background-color: #ed1c24; padding:8px;">
          <h3>Conversation core</h3>
        <div id="video"></div>
        <div id="chat"></div>
      </div>
    </div>
  </div>
</div>
<app-state-settings #settings ></app-state-settings>